/* default box-sizing is almost never what you want.
    if it is, you can change it and it will affect children.
    https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* display: inline-block is unintuitive */
img {
  display: block;
}

:root {
  /* color scheme */
  /*   base palette */
  --color-site-primary: blue;
  --color-site-secondary: red;
  /*   derived colors */
  --color-site-background: color-mix(in srgb, var(--color-site-primary), white 85%);
  --color-site-accent: color-mix(in srgb, var(--color-site-secondary), white 25%);
  --color-text: #383838;
}

body {
  margin: 0;
  padding: 0;

  /* default typography */
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: sans-serif;

  color: var(--color-text);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--color-site-background);
}
.header--logo {
}
.header--title {
  margin: 0;
  margin-left: -70px;
  font-family: 'Courier New', Courier, monospace;
  font-size: min(5vw, 2.7rem);
}

.main-column {
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  padding: 0 1rem;
  margin: 0 auto;
}

.callout-box {
  align-self: center;
  border: 2px solid var(--color-site-accent);
  box-shadow: 2px 4px 4px var(--color-site-accent);
  padding: .7rem 1rem;
  border-radius: 15px;
}

.solid-button {
  align-self: center;
  background-color: var(--color-site-accent);
  padding: .7rem 1rem;
  border-radius: 15px;
}
.solid-button * {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

label {
  display: block;
}
label input[type="checkbox"] {
  position: relative;
  top: -1px;
}
fieldset :not(legend):nth-of-type(n+2) {
  margin-top: .6rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.login-form--actions {
  display: flex;
  margin-top: 1rem;
}
.login-form--input {
}
.login-form--input * {
  display: block;
}
.login-form--input input {
  width: 100%;
}
.login-form--submit {
  margin-left: auto;
}

.vertical-label * {
  display: block;
}
